/* CSS Resets */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.08rem;
}
h4,
p {
  font-size: 1.7rem;
}
ul,
ol {
  font-size: 1.8rem;
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;
}
a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Styles */
main {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

.header::before {
  content: '';
  height: 3px;
  width: 10rem;
  display: block;
  margin-bottom: 0.5rem;
  background-color: #374aa7;
}

/* Hero Section */
.hero-section {
  height: 100%;
  background-color: #d7defa;
  background-image: linear-gradient(
      hsla(228, 78%, 91%, 0.96),
      hsla(228, 78%, 91%, 0.96)
    ),
    url(/herobg.svg);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hero-header {
  font-size: 3.5rem;
  line-height: 1.3;
}
.hero-subheader {
  color: #506e92;
}

.hero-para {
  width: 70%;
  text-align: center;
  margin-block: 0.8rem 1.5rem;
  color: #707071;
}

.hero-btndiv {
  display: flex;
  gap: 1.5rem;
}

.btn-contact,
.btn-knowmore {
  font-size: 2rem;
  padding: 0.3em 1.5em;
  border-radius: 0.7rem;
}

.btn-contact {
  background-color: black;
  color: white;
}

.btn-knowmore {
  background-color: #a4b1f7;
  color: #374aa7;
}

/* Problem Section */

.problem-section {
  background-color: #f3f1e7;
}

.problem-wrapper {
  display: flex;
}

.problem-left,
.problem-right {
  flex-basis: 100%;
}

.problem-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
}

.problem-box {
  height: 100vh;
  display: grid;
  place-items: center;
}

.problem-box-content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  max-width: 500px;
}
.problem-box-content p {
  font-size: 2rem;
}

.number {
  background-color: #374aa7;
  height: 3.7rem;
  width: 3.7rem;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 0.7rem;
}

/* Problem Solution */

.problem-solution {
  min-height: 100vh;
}

.blue {
  color: rgb(73, 73, 199);
}
.red {
  color: rgb(209, 35, 35);
}

.solution-topbar {
  margin-inline: auto;
  width: fit-content;
  /* border-bottom: 1rem solid white; */
}

.snap-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 7rem;
}

.snap-wrapper:nth-child(3) {
  flex-direction: row-reverse;
}

/* .snap-img,
.snap-info {
  flex-basis: 100%;
} */

.snap-img {
  border-radius: 0.7rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid white;
  width: 50%;
}
.snap-wrapper img {
  border-radius: 0.7rem;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid white; */
}

.snap-info {
  width: 50%;
  max-width: 480px;
}
.snap-info h2 {
  font-weight: 500;
  width: fit-content;
  z-index: 1;
  position: relative;
}

.snap-info h2::after {
  content: '';
  height: 10px;
  width: 100%;
  position: absolute;
  background-color: #bff76a;
  display: block;
  bottom: 7px;
  border-radius: 0 50vw 50vw 0;
  transform: rotateZ(-1deg);
  z-index: -1;
}

.snap-info ul {
  margin-left: 2rem;
}
.snap-info ul li {
  margin-top: 0.5rem;
}

.snap-wrapper:nth-child(3) .snap-info h2::after {
  background-color: #a9c5ef;
}

.snap-wrapper:nth-child(4) .snap-info h2::after {
  background-color: #f5bdad;
}

/* Demo App */
.demoapp-wrapper {
  padding-top: 5rem;
}
.laptop {
  width: 90%;
  max-width: 800px;
  margin-inline: auto;
  z-index: 1;
  position: relative;
}
.laptop img {
  position: relative;
  z-index: 8;
}

.laptop iframe {
  position: absolute;
  left: 13.9%;
  top: 7.1%;
  width: 72.2%;
  height: 82%;
}

.bg-blue {
  background-color: #6f6fa9;
  margin-top: -15rem;
  padding-block: 18rem 5rem;
}

.demoapp-info {
  color: white;
  text-align: center;
}

.demoapp-info p {
  font-size: 1.8rem;
  color: rgb(219, 223, 245);
  width: 70%;
  margin-top: 1rem;
  margin-inline: auto;
}

.demoapp-info h1 {
  color: #292955;
}

.contact-info {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  margin-top: 12rem;
  /* width: fit-content; */
  padding: 5rem;
  border-radius: 0.7rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-info p {
  border-top: 1px solid #a3a3a3;
  color: #9f9f9f;
  padding-top: 1rem;
  margin-top: 3rem;
}
.contact-info p a {
  color: orange;
  font-weight: 500;
}
